.button {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: calc(var(--base-font-size) * 1);
    color: var(--text-color, #333);
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: var(--border-radius-small, 5px);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: all 0.3s ease;
    text-align: center;
    border: none;
    outline: none;
    position: absolute; /* 确保position样式被应用 */
}

/* .button:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    background-color: rgba(1, 225, 255, 0.4);
} */

.send-button {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    aspect-ratio: 1/1;
    /* height: 50%; */
    box-shadow: None;
    border: 4px solid rgb(87, 166, 255);
    background-color: rgb(48, 66, 170);
    color:aliceblue;
    width: 3%;
    /* top: 20px; */
    right: 8%;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
}

.clear-button {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: rgba(255, 99, 71, 0.5);
}


.back-button {
    position: fixed;
    top: 2%;
    left: 20px;
    padding: 10px 15px;
    background-color: rgba(1, 225, 255, 0.382);
    color: rgb(54, 54, 54);
    border: 2.5px solid rgba(86, 86, 86, 0.7);
    border-radius: 18px;
    cursor: pointer;
    text-decoration: none;
    font-size: var(--base-font-size);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(5px); /* 添加模糊效果增强可读性 */
    justify-content: center;
    text-decoration: none;
}

.back-button:hover {
    background-color: rgba(7, 38, 66, 0.974);
    border: 2.5px solid rgba(248, 248, 209, 0.767);
    color: rgba(251, 251, 205, 0.873);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.clear-button {
    position: fixed;
    top: 8%;
    left: 20px;
    padding: 10px 15px;
    background-color: rgba(1, 225, 255, 0.382);
    color: rgb(54, 54, 54);
    border: 2.5px solid rgba(86, 86, 86, 0.7);
    border-radius: 18px;
    cursor: pointer;
    text-decoration: none;
    font-size: var(--base-font-size);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(5px); /* 添加模糊效果增强可读性 */
    justify-content: center;
    text-decoration: none;
}

.clear-button:hover {
    background-color: rgba(7, 38, 66, 0.974);
    border: 2.5px solid rgba(248, 248, 209, 0.767);
    color: rgba(251, 251, 205, 0.873);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

/* 自适应样式 */
@media (max-width: 768px) {
    .button {
        font-size: calc(var(--base-font-size) * 0.9);
    }
}