.inputBox {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s ease;
}

.inputBox:focus {
    border-color: rgba(1, 225, 255, 0.6);
    box-shadow: 0 0 5px rgba(1, 225, 255, 0.3);
}